body{
    background-color: #FFD6FC;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }

  h1{
    color: whitesmoke;
    position: center;
    text-align: center;
    background-color:#8B4191 ;
}